.form-state-loading .loading-form-message {
  display: block;
}

.form-state-loading .create-form-message, 
.form-state-loading .update-form-message {
  display: none;
}

.form-state-create .create-form-message {
  display: block;
}

.form-state-create .loading-form-message, 
.form-state-create .update-form-message {
  display: none;
}

.form-state-update .update-form-message {
  display: block;
}

.form-state-update .loading-form-message, 
.form-state-update .create-form-message {
  display: none;
}
